<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
 <!--- <center>
        <h1>if else conditions</h1>

       {% if a  > b %}
        <h1>a is max {{a}}</h1>
       {% else %}
        <h1>b is max {{b}}</h1>
       {% endif %}
    </center>-->
    <center>
        <h1>for loop in  jinja tags</h1>
        {% for a in hobbies %}
         <h1>{{a}}</h1>
        {% endfor %}
        </center>
        <center>
            <h1><a href="{% url 'data_render' %}">conditions page go to data_render page</a></h1>
        </center>

</body>
</html>
